
@{
    ViewBag.Title = "EditCust";
    Layout = "~/Views/Shared/Common_Layout.cshtml";
}
@using CRUD_With_ADO.Models
@model Customer
    <script>
        $(document).ready(function () {
            $("#City").val("@Model.City");
        });
    </script>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" style="background-color: #c58252; padding-top: 30px; padding-bottom: 30px; min-height: 400px; margin-top: 20px; margin-bottom: 20px; border-radius: 10px;">
        <h1 class="text-center text-white">Edit Customer Record</h1>
        <hr />
       
    <form action="/Home/EditCust" method="post" enctype="multipart/form-data">
        <input type="hidden" name="CustId" value="@Model.CustId" />
        <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" /><br />
        @if(Model.Gender=="Male")
        {
        <span class="form-control">
            Gender: <input type="radio" name="Gender" value="Male" checked />Male
            <input type="radio" name="Gender" value="Female" />Female
        </span>
        }
        else
        {
        <span class="form-control">
            Gender: <input type="radio" name="Gender" value="Male"  />Male
            <input type="radio" name="Gender" value="Female" checked/>Female
        </span>
        }
        <br />
        <select name="City" id="City" class="form-control">
            <option value="">Select City</option>
            <option>Varansi</option>
            <option>Mirzapur</option>
            <option>Lucknow</option>
            <option>Chitrakoot</option>
            <option>Jhansi</option>
        </select><br />
        <input type="email" name="EmailId" value="@Model.EmailId" placeholder="example@gmail.com" class="form-control" /><br />
        <input type="number" name="MobileNo" value="@Model.MobileNo" placeholder="Mobile Number" class="form-control" /><br />
        <textarea name="Address" placeholder="Address" class="form-control">@Model.Address</textarea><br />
        <span class="form-control">
            <img src="~/Content//UserPics/@Model.PictueFileName" style="width:30px;height:30px;border-radius:50%;" />
            Select Picture:
            <input type="file" name="CustPic" />
        </span><br />
        <div class="row text-center">
            <div class="col-sm-6">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
            <div class="col-sm-6">
                <input type="reset" value="Clear All" class="btn btn-danger" />
            </div>
        </div>
    </form>
    </div>
    <div class="col-sm-3"></div>
</div>

